{
    "username": "{{.req_params.username}}",
    "password": {{.req_params.password}},
    "client_id": "auth_service",
    "grant_type": "password",
    "client_secret": "ESknhooxkuONtgbFfJ2gpHcBEFB31Es4"
}